.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-title {
  font-size: 20px;
  text-align: center;
  background-color: #AAD464;
  padding: 12px 12px;
  max-width: fit-content;
  border-radius: 6px;
  color: #011421;
}

.results-box {
    background: #ffffff;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    transition: transform 0.2s ease;
}

.results-text {
    background: #ffffff;
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #666;
}